.profile{
    flex:4.5;
    padding: 0px;
    min-height: 100vh;
    right:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position :absolute;
    top:0;
    left: 0;
    right: 0; 
}
.profileBody{
    padding:20px ;
}

.profileRight{
    
    width:80%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    top: 50px;
    right:0;
    z-index: 1000;
}

.profileCover {
  flex: 3;
  height: 320px;
  width: 100%;
  position: relative;
  justify-content: center;
}

.profileCoverImg {
  width: 140%;
  height: 250px;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
.profileDetails{

    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 95%;
    height: 240px;
    border-radius: 8px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 14px -8px rgba(0, 0, 0, 0.68);
    background-color: rgb(252, 252, 252);
}
.profileDetails2{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 95%;
    height: 280px;
    border-radius: 8px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 14px -8px rgba(0, 0, 0, 0.68);
    background-color: rgb(252, 252, 252);
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
    text-align: left;
}

.profileInfoTitle{
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    display: flex;
    padding-bottom: 10px;
}

.phoneIcon {
    font-size: 20px !important;
    margin-left: 10px;
    
    }

.ModifButton {
    height: 30%;
    text-align:center;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: rgb(194, 200, 206);
    margin-left: 30px;
}

.ModifButton2 {
    
    display:inline-block;
	margin:10px 10% 10px 10%;
	padding: auto;
    height: 80%;
    width: 20%;
    text-align:center;
    background-color: rgb(194, 200, 206);
}

.profileRightBottom{
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 100px;
    right: 0;
    width:200px
}

.profilInput{
    height: 30px;
    outline: none;
    border-radius: 2px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    margin-bottom: 2px;
    margin-left: 10px;
    font-size: 20px;
    padding-left: 20px;
}
