/* =========== Google Fonts ============ */
/* @import url("https://fonts.google.com/specimen/Playfair?preview.size=24"); */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* =============== Globals ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(49, 49, 87);
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

.page-content {
  font-family: "Playfair Display", serif;
}

html {
  min-height: 100vh;
  background: rgb(241, 241, 245);
  background-size: cover;
}

body {
  font-family: "Playfair Display", serif;

  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: absolute;
  width: 100%;
}


.recentOrders {
  font-family: "Playfair Display", serif;
  position: relative;
  display: grid;
  min-height: 100px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 18px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 50;
  color: var(--blue);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
}
table thead td {
  font-weight: 600;
}
.recentOrders table tr {
  color: var(--black1);
}
.recentOrders table tr:last-child {
  border-bottom: none;
}

.person-details {
  top: 100%;
  left: 0;
  width: 200px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 9999;
  display: none;
  transition: opacity 0.3s, visibility 0.3s;
}

.person:hover .person-details {
  opacity: 1;
  display: block;
}

.recentOrders table tr td {
  padding: 10px;
}
.recentOrders table tr td:last-child {
  text-align: end;
}
.recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.acceptee {
  padding: 4px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
}
.demandee {
  padding: 4px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
}
.archivee {
  padding: 4px 4px;
  background: rgb(113, 111, 111);
  color: var(--white);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
}
.encours,
.libre {
  padding: 4px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
}

.refusee,
.occupee {
  padding: 4px 4px;
  background: #ff0505;
  color: var(--white);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
}


@media (max-width: 700px) {
  .profileRight{
    width: 100%;
  }
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
}



@media (max-width: 40px) {
  .profileRight{
    width: 100%;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
}

.custom-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.custom-textarea:focus {
  border-color: #007bff;
}

/**=========================== MODAL ==========================**/
.modal-content {
  padding: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

legend {
  font-size: 15px;
  font-weight: 550;
  padding: 10px;
}

fieldset {
  padding: 20px;
}

.formation-item {
  margin-bottom: 20px;
}

.formation-heading {
  font-weight: bold;
  margin-bottom: 5px;
}

.experience-item {
  margin-bottom: 20px;
}

.projet-item {
  margin-bottom: 20px;
}

/** ==================== Filter Button =================== **/
.filterButton {
  margin-left: 650px;
}
