/*custom font*/
/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */

html {
  min-height: 100vh;
  background-image: url("Images/b-g.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*** Message Error ***/
/* 
.errror-massage {
  display: block;
  font-size: 12px;
  padding: 3px;
  color: red;
} */
