.post {
    width: 100%;


    
  }
  
  .postWrapper {
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    background-color: rgb(252, 252, 252);
  }
  
  .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  
  .postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .postDate{
      font-size: 12px;
  }
  
  .postCenter{
      margin: 20px 0;
      height: 100%;
      
  }
  
  .postImg{
      margin-top: 10px;
      width: 50px;
      max-height: 50px;
      object-fit: contain;
  }
  
  .postBottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .postBottomComment{
    position: relative;
   
    margin-top: 4%;
    
   width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      background-color: transparent;
  }
  .postBottomCommentx{
    position: relative;
   
    margin-top: 4%;
    
   width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-radius: 8px;
     
      background-color: transparent;
  }
  .Comment{
    position: absolute;
    width: 80%;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
    
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
    font-size: 15px;
    background-color: rgb(192, 189, 189);
}
.CommentInput{
    
  width: 100%;
  display: inline;
 
  margin-top: 5%;
  border: none;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  
  font-size: 15px;
  background-color: rgb(192, 189, 189);
}
  .postBottomLeft{
      display: flex;
      align-items: center;   
  }
  
  .likeIcon{
      width: 24px;
      height: 24px;
      margin-right: 5px;
      cursor: pointer;
  }
  
  .postLikeCounter{
      font-size: 15px;
  }
  
  .postCommentText{
      cursor: pointer;
      border-bottom: 1px dashed gray;
      font-size: 15px;
  }