  .share {
    width: 100%;
    height: 190px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    background-color: rgb(252, 252, 252);
  }
  form{
    
  
    border: none;
    display: flex;
    flex-direction: column;
  
  }

  .shareWrapper {
    padding: 10px;
  }

  .shareTop {
    display: flex;
  }
  .shareTopForm{
    display: flex;
    margin: 1%;
    padding: 0.01%;
    background-color: transparent;
  }
  .x{
        padding: 0%;
        margin-top: 2%;
      background-color: transparent;
  }

  .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .shareInput {
    border: none;
    width: 80%;
    margin: 0.5%;
    margin-left: 4%;
    background-color: transparent;
  }
  .shareSelect {
    
    border: none;
  margin-left: 2%;
  margin-bottom: 2%;
    padding: 1%;
    background-color: transparent;
    width:35%;
  }
  .Add{
    display: flex;
  
  }


  .shareInput:focus {
    outline: none;
  }
  .shareInputAdd:focus {
    outline: none;
  }
  .shareInputfileAdd{
    display: none;
  }
  .shareInputfileAdd:focus {
    outline: none;
  }

  .shareHr {
    margin-bottom: 8px;
  }

  .shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .shareOptions{
      display: flex;
      margin-left: 20px;
  }

  .shareOption{
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
  }

  .shareIcon{
      font-size: 18px;
      margin-right: 3px;
  }

  .shareOptionText{
      font-size: 14px;
      font-weight: 500;
  }

  .shareButton{
      border: none;
      padding: 7px;
      border-radius: 5px;
      background-color: green;
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      color: white;
  }
